.itemLoading {
  /* background-color: rgb(236, 233, 233) !important; */
  opacity: 0.5;
  pointer-events: none;
}

.cart {
  border-color: rgb(216, 211, 211) !important;
  border-width: 0.5px 0 0 0 !important;
  border-style: solid none none none !important;
}

.cartItem,
.cartSelect,
.cartCheck {
  cursor: pointer;
}

.cartItem {
  border-color: rgb(216, 211, 211) !important;
  border-width: 0 0 1px 0 !important;
  border-style: none none solid none !important;
}
