.itemLoading {
  /* background-color: rgb(236, 233, 233) !important; */
  opacity: 0.5;
  pointer-events: none;
}

.cart {
  border-color: rgb(216, 211, 211) !important;
  border-width: 0.5px 0 0 0 !important;
  border-style: solid none none none !important;
}

.cartSelect,
.cartCheck {
  cursor: pointer;
}

.cartItem .cartCheck {
  transform: scale(1.5);
}

.cartItem {
  border-color: rgb(216, 211, 211) !important;
  border-width: 0 0 1px 0 !important;
  border-style: none none solid none !important;
}

.cartItem .title {
  color: #5f5b5b;
  font-weight: bold;
  font-size: 20px;
}

.cartItem .title:hover {
  color: #212529;
  text-decoration: none;
}
