.category-carousel {
  padding-left: 20px;
}

.category-carousel-item .title {
  color: #212529;
}

.category-carousel-item .title:hover {
  color: #212529;
  text-decoration: none;
}

.category-carousel-item .rating {
  font-size: 10px;
  font-weight: bold;
  background-color: #388e3c;
  color: white;
  /* border-radius: 5px; */
  padding: 3px;
  border: none;
}

.category-carousel-item .rating:hover {
  background-color: #388e3c;
}

.category-carousel-item .price {
  color: green;
}

.category-carousel-item .seller {
  color: rgb(100, 96, 96);
}
