.order-icon {
  font-size: 60px;
  color: #28a745;
}

.order-details-list {
  list-style-type: none;
  padding: 0;
}

.order-details-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-details-list li span:first-child {
  font-weight: bold;
}

@media (max-width: 576px) {
  .order-icon {
    font-size: 40px;
  }
}
