.banner-carousel .home-banner {
  background-color: #cad6e5;
}
.category-set {
  background-image: url("https://shopsurfer.s3.ap-south-1.amazonaws.com/images/categoryset2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category-set h4 {
  font-weight: bold;
  color: rgb(71, 83, 117);
  margin-bottom: 1px;
}

.category-set .view-button {
  font-weight: bold;
}
