.product-card {
  height: 100%;
}

/* .product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
} */

.product-image-container {
  width: 100%;
  padding-top: 75%; /* Adjust the desired aspect ratio here (e.g., 75% for 4:3 ratio) */
  position: relative;
  overflow: hidden;
}

.product-image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .prod-title {
  font-weight: bold;
  color: #5f5b5b;
  cursor: pointer;
  text-decoration: none !important;
}

.prod-title:hover {
  color: #5f5b5b !important;
}

.product-card .prod-rating {
  font-size: 10px !important;
  font-weight: bold !important;
  background-color: #388e3c !important;
  color: white;
  padding: 4px !important;
  display: inline;
  border: none !important;
}

.product-card .price {
  font-weight: bold;
  color: #5f5b5b;
}

.product-card .delivery {
  font-weight: bold;
  color: #5f5b5b;
}
