.product-card {
  height: 100%;
}

.product-image-container {
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.prod-title {
  font-weight: bold;
  color: #5f5b5b;
  cursor: pointer;
  text-decoration: none !important;
}

.prod-title:hover {
  color: #5f5b5b !important;
}

.prod-rating {
  font-size: 10px !important;
  font-weight: bold !important;
  background-color: #388e3c !important;
  color: white;
  padding: 4px !important;
  display: inline;
}
