html,
body,
#root {
  height: 100%;
}

/* a {
  text-decoration: none !important;
  color: inherit !important;
} */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-container {
  flex: 1;
  background-color: #eaeded;
}

/* .footer-container {
  position: relative;
} */
