html,
body,
#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-container {
  flex: 1;
}

/* .footer-container {
  position: relative;
} */
